html,
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Remove margin and padding from all elements */
* {
  margin: 0;
  padding: 0;
}

/* Background color contrast */
.intro,
.contact {
  background: #5aa4ff;
  color: white;
}

/* Navigation */
nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #5aa4ff;
}

nav ul li {
  display: inline-block;
  margin: 15px 0;
}

nav ul li a {
  color: #008080;
  text-decoration: none;
}

nav ul li a:hover {
  color: green;
}

/* Responsive design */
@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  
  nav ul li {
    margin: 10px;
  }
  
  /* Adjust padding for smaller screens */
  .project {
    padding: 10px;
    margin: 20px 0;
  }
}

/* Contact details */
.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 10px;
  list-style-type: none;
  border: 2px solid #90c695;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #5aa4ff;
  color: #008080;
  text-decoration: none;
}

.contact-details:hover {
  background: #e4f1fe;
  color: green;
}

/* Footer */
footer {
  padding: 20px;
  background: #5aa4ff;
  color: white;
  line-height: 1.5;
}

footer a {
  color: white;
}

/* Additional mobile-specific adjustments */
@media only screen and (max-width: 367px) {
  .contact-details {
    border-radius: 0;
    width: auto;
    height: auto;
    padding: 5px 10px;
    line-height: normal;
  }
}
/* Your existing CSS rules here */

/* Add the CSS for project tiles here */
.project-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute tiles evenly in two rows */
}

.project-tile {
  width: calc(33.33% - 20px); /* 33.33% width for each tile with 20px spacing */
  margin-bottom: 20px;
  box-sizing: border-box;
}
